@page
@model TecualaBaby.Pages.Conocimiento.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>conocimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conocimiento.IdTipoConocimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.conocimiento.IdTipoConocimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.conocimiento.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.conocimiento.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.conocimiento.IdConocimiento">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
