@page
@model TecualaBaby.Pages.CompetenciaPotencias.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].competencia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].idEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].idTipoEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].fechaEstatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].actual)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].observacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompetenciaPotencia[0].idUsuarioReg)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CompetenciaPotencia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.competencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idTipoEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaEstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuarioReg)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.persona">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.persona">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.persona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
