@page
@model TecualaBaby.Pages.Metodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Metodologia</h2>

<h3>¿Esta Seguro que desea Eliminar esta Metodologia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.IdMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.IdMetodologia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.DesMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.DesMetodologia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.Explicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.Explicacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_cat_metodologias.IdMetodologia" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
