@page
@model TecualaBaby.Pages.Metodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Metodologia</h2>

<h3>¿Estas seguro que deseas Eliminar esta metodologia?</h3>
<div>
    <h4>Metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Metodologia.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metodologia.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metodologia.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Metodologia.Explicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Metodologia.Explicacion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Metodologia.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
