@page
@model TecualaBaby.Pages.Metodologia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>eva_cat_metodologias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.DesMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.DesMetodologia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_cat_metodologias.Explicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_cat_metodologias.Explicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.eva_cat_metodologias.IdMetodologia">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
