@page
@model TecualaBaby.Pages.Metodologia.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Metodologias</h2>

<p>
    <a asp-page="Create">Crear una Nueva Metodologia</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Metodologia[0].Clave)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Metodologia[0].Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Metodologia[0].Explicacion)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Metodologia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explicacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
