@page
@model TecualaBaby.Pages.PlantillaMetodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Plantilla Metodologia</h2>

<h3>¿Estas Seguro que deseas Eliminar esta Plantilla Metodologia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.IdPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.IdPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.Metodologia.Clave)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_plantilla_metodologia.IdPlantillaMetodo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
