@page
@model TecualaBaby.Pages.PlantillaMetodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de que desea Eliminar esta plantilla?</h3>
<div>
    <h4>Plantilla Metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlantillaMetodologia.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantillaMetodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantillaMetodologia.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantillaMetodologia.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantillaMetodologia.VersionActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantillaMetodologia.VersionActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantillaMetodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantillaMetodologia.Metodologia.Descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PlantillaMetodologia.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
