@page
@model TecualaBaby.Pages.PlantillaMetodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>eva_plantilla_metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.Metodologia.DesMetodologia)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="eva_plantilla_metodologia.IdPlantillaMetodologia" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
