@page
@model TecualaBaby.Pages.PlantillaMetodologia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>eva_plantilla_metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.Metodologia.DesMetodologia)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.eva_plantilla_metodologia.IdPlantillaMetodologia">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
