@page
@model TecualaBaby.Pages.PlantillaMetodologia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Plantilla Metodologia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.IdPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.IdPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.DesPlantillaMetodo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.FechaReg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.VersionActual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_metodologia.Metodologia.Clave)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.eva_plantilla_metodologia.IdPlantillaMetodo">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
