@page
@model TecualaBaby.Pages.PlantillaMetodologia.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Catalogo Plantilla Metodologia</h2>

<p>
    <a asp-page="Create">Crear Una Nueva Plantilla Metodologia</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.eva_plantilla_metodologia[0].DesPlantillaMetodo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eva_plantilla_metodologia[0].FechaReg)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.eva_plantilla_metodologia[0].VersionActual)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.eva_plantilla_metodologia[0].Metodologia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.eva_plantilla_metodologia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DesPlantillaMetodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaReg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionActual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Metodologia.Clave)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdPlantillaMetodo">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.IdPlantillaMetodo">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdPlantillaMetodo">Eliminar</a>
                <a asp-page="../MomentoMetodologia/Index" asp-route-id="@item.IdPlantillaMetodo">Momento</a>
            </td>
        </tr>
}
    </tbody>
</table>
