@page
@model TecualaBaby.Pages.PlantillaMetodologia.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlantillaMetodologia[0].IdMetodologia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantillaMetodologia[0].Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantillaMetodologia[0].FechaRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlantillaMetodologia[0].VersionActual)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlantillaMetodologia) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMetodologia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionActual)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
