@page
@model TecualaBaby.Pages.MomentoMetodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar Plantilla Momentos Metodologia</h2>
<h2>Plantilla: @Model.idplantilla </h2>
<h2>Metodologia: @Model.idmetodologia</h2>
<h2>@Model.idm @Model.idp</h2>

<h3>¿Estas Seguro que Deseas Eliminar Esta Plantilla Momentos Metodologia?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.IdMomento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.IdMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.DesMomento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.DesMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Secuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Secuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Metodologia.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.PlantillaMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.PlantillaMetodologia.DesPlantillaMetodo)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="eva_plantilla_momentos_metodologia.IdMomento" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
