@page
@model TecualaBaby.Pages.MomentoMetodologia.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar este Momento de Metodologia?</h3>
<div>
    <h4>Momentos Metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Secuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Secuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Metodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.PlantillaMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.PlantillaMetodologia.Descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MomentosMetodologia.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
