@page
@model TecualaBaby.Pages.MomentoMetodologia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles Plantilla Momentos Metodologia</h2>
<h2>Plantilla: @Model.idplantilla </h2>
<h2>Metodologia: @Model.idmetodologia</h2>
<h2>@Model.idm @Model.idp</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.IdMomento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.IdMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.DesMomento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.DesMomento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Secuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Secuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.Metodologia.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.eva_plantilla_momentos_metodologia.PlantillaMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eva_plantilla_momentos_metodologia.PlantillaMetodologia.DesPlantillaMetodo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.eva_plantilla_momentos_metodologia.IdMomento">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
