@page
@model TecualaBaby.Pages.MomentoMetodologia.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Momentos Metodologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Objetivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Objetivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Secuencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Secuencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.Metodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.Metodologia.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MomentosMetodologia.PlantillaMetodologia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MomentosMetodologia.PlantillaMetodologia.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MomentosMetodologia.Id">Editar</a> |
    <a asp-page="./Index">Regresar</a>
</div>
